doctype html
html
	head
		title="Login"
	body
		h1 Login
		form(action="http://localhost:3000/auth/google",method="GET")
			label Username:
			input(type="text", name="login", placeholder="Username")
			label Password:
			input(type="password", name="password", placeholder="Password")
button(type="submit") Login