doctype html
html
	head
		title="Hello!"
	body
h1 Welcome
	p 
	|Lorem ipsum dolor sit amet enim. Etiam ullamcorper.
	|Suspendisse a pellentesque dui, non felis.
	|Maecenas malesuada elit lectus felis, malesuada ultricies.